.container {
  width: 100%;
  height: 100px;
  background-color: red;
}

.header__container {
  background-color: rgb(34, 30, 30);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color:aliceblue
}
.profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: antiquewhite;
}